{% extends 'base.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" type='text/css' href="{% static 'css/login.css' %}">
  <div class="bg">
	<div class="columns ">
	  <div class="login-box">
		<form action="" onsubmit="login(); return false;">
			{% csrf_token %}
			<script>
				const login = () => {
					document.getElementById("email-error").style.display = 'none';
					document.getElementById("password-error").style.display = 'none';


					axios.defaults.xsrfCookieName = 'csrftoken';
					axios.defaults.xsrfHeaderName = 'X-CSRFToken';
					axios.post("/auth/login/",JSON.stringify(
						{
							'email':document.getElementById("email").value,
							'password':document.getElementById("password").value
						})
					).then((res)=>{
						if (res.data.errors) {
							const errors = res.data.errors
							Object.keys(errors).forEach((key) => {
								console.log(key, errors[key]);
								document.getElementById(key + "-error").style.display = "block";
								const message = document.getElementById(key + "-error");
								message.innerHTML =  errors[key];
							});
						}
						else {
							window.location.replace("../../");
						}
					})
					.catch((e)=>console.error(e));
				}
				//show password
				function show_password(id1, id2) {
					var x = document.getElementById(id1);

					if (x.type === "password") {
						x.type = "text";
					} else {
						x.type = "password";
					}

					if (id2 !== undefined) {
						var y = document.getElementById(id2);
						if (y.type === "password") {
							y.type = "text";
						} else {
							y.type = "password";
						}
					}
				}
			</script>


		  <div class="signin" [hidden]="login">
			<h1 class="topline">Login</h1>
			<br />
			<div class="placeholder" data-placeholder="@email.com">
				<div class="input-field">
				  
				  <input 
					  type="text" 
					  id="email"
					  name="email" 
					  placeholder="Enter Email Address"
			  		  style="background: url(https://res.cloudinary.com/www-santhoshthomas-xyz/image/upload/v1620796341/portfolio/name_1_rgo5hw.png) no-repeat 5%; background-size: 20px;z-index: 50;"
					  required/>
				</div>
			  </div>

			<div id="email-error" class="error"></div>
  
			<div class="input-field">
			  <input type="password"
			  id="password"
			  placeholder="Enter Password"
			  name="psw"
			  required
			  style ="background: url(https://res.cloudinary.com/www-santhoshthomas-xyz/image/upload/v1620796331/portfolio/lock_dnkpk8.png) no-repeat 5%; background-size: 20px;z-index: 50;"
			  />
			</div>
			<div id="password-error" class="error"></div>
			<div>
				<input type="checkbox" onclick="show_password('password')">Show Password
			</div>

			<div class="action">
			  <a href="../signup">I don't have an account</a>
			</div>
  
			<div class="login-box-button">
			  <button type="submit">
				<i class="fas fa-sign-in-alt"></i>
				LOG IN
			  </button>
			</div>
		  </div>
		</form>

	  </div>
{% endblock %}



