{% extends 'base.html' %}
{% block content %}
<h1>Login</h1>
<form action="" onsubmit="login(); return false;">
	{% csrf_token %}
	<style>
		.error {
			color:red;
  			font-style: italic;
		}
	</style>
	<script>
		const login = () => {
			axios.defaults.xsrfCookieName = 'csrftoken';
			axios.defaults.xsrfHeaderName = 'X-CSRFToken';
			axios.post("/auth/login/",JSON.stringify(
				{
					'email':document.getElementById("email").value,
					'password':document.getElementById("password").value
				})
			).then((res)=>{
				if (res.data.errors) {
					const errors = res.data.errors
					Object.keys(errors).forEach((key) => {
						console.log(key, errors[key]);
						const message = document.getElementById(key + "-error");
						message.innerHTML =  errors[key];
					});
				}
			})
			.catch((e)=>console.error(e));
		}
	</script>
	<!-- permanent placeholder in email -->
	<input 
		type="text" 
		id="email"
		placeholder="@email.com" 
		name="email" 
		required 
	/><br/>
	<div id="email-error" class="error"></div>
	<input
		type="password"
		id="password"
		placeholder="Enter Password"
		name="psw"
		required
	/><br/>
	<div id="password-error" class="error"></div>

	<button type="submit" >Login</button>
</form>

{% endblock %}
