{% extends 'base.html' %}
{% load static %}
{% block content %}

<form action="" onsubmit="send(); return false;">
    {% csrf_token %}

    <script>
        const send = () => {
            document.getElementById("receiver-error").style.display = 'none';

            axios.defaults.xsrfCookieName = 'csrftoken';
            axios.defaults.xsrfHeaderName = 'X-CSRFToken';
            axios.post("/send/",JSON.stringify(
                {
                    'receiver':document.getElementById("receiver").value,
                    'subject':document.getElementById("subject").value,
                    'content':document.getElementById("content").value
                })
            ).then((res)=>{
                if (res.data.errors) {
                    const errors = res.data.errors
                    Object.keys(errors).forEach((key) => {
                        console.log(key, errors[key]);
                        document.getElementById(key + "-error").style.display = "block";
                        const message = document.getElementById(key + "-error");
                        message.innerHTML =  errors[key];
                    });
                }
                else {
                    window.location.replace("../");
                }
            })
            .catch((e)=>console.error(e));
        }
    </script>
    
    <label>From:</label>
    <input 
    type="text"
    id="sender"
    placeholder="{{ email }}"
    name="sender"
    required
    readonly/><br>
    
    <label>To:</label>
    <input 
    type="text"
    id="receiver"
    placeholder=""
    name="receiver"
    required/><br>
    <div id="receiver-error" class="error"></div>

    <label>Subject:</label>
    <input 
    type="text"
    id="subject"
    name="subject"/><br>

    <label>Text:</label>
    <textarea 
    id="content"
    name="content"
    required></textarea><br>

    <button type="submit" style="border-radius: 20px;">
        <i class="fas fa-sign-in-alt"></i>
        SEND
      </button>
    </form>
{% endblock %}
